<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/fontello.css")
	link(rel="stylesheet", href="css/fontello-codes.css")
	link(rel="stylesheet", href="css/style.css")
body
	main.main
		.wrap
			header.main-header
				ul.main-header-list
					li.main-header-list-item.main-header-list-item_logo
						img.main-header_logo_img(src="img/logo.png", alt="/. - logo" width="80px" height="80px")
					li.main-header-list-item.main-header-list-item-menu
						<a id="hamburger-icon" href="#" title="Menu">
							<span class="line line-1"></span>
							<span class="line line-2"></span>
							<span class="line line-3"></span>
							<span class="hamburger-title">Menu</span>
						</a>
				h1.main-header_title Amazing Dude.<br>Amazing Life.
				p.main-header_text Welcome to the personal site of <b>John Doe</b>. A professional skier and musician.
	section.info
		.info_img
			img(src="img/PHOTO.png", alt="John Doe on a ski" width="100%" height="auto")
		.info-text
			.info-text_wrap
				h2.info-text_title Sed faucibus quis
				p.info-text_description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis vel reiciendis accusamus nostrum, hic distinctio dolores magnam!
	section.photos
		img.photos-item(src="img/photo1.png", alt="rope road" width="25%" height="")
		img.photos-item(src="img/photo2.png", alt="skier" width="25%" height="")
		img.photos-item(src="img/photo3.png", alt="ski shoe" width="25%" height="")
		img.photos-item(src="img/photo4.png", alt="mountain" width="25%" height="")
	section.instagram
		.wrap
			.instagram-text
				h2.instagram-text_title Instagram
				p.instagram-text_description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur veritatis expedita libero.
				a.instagram-text_link.button(href="#") View on instagram
			.instagram-image
				img.instagram-image_img(src="img/skies.png", alt="skies" width="68%" max-width="590px" height="")
	section.music
		.wrap
			.music_space
			.music-text
				h2.music-text_title Self-Effacing Rage
				h3.music-text_title__small FT. Fascinating Collision
				p.music-text_description Director: James G. Rohrer<br>Production Company: Sycamore<br>Producer: Laura C. Carton<br>Executive Producer: Jack M. Heckart
				a.music-text_link.button.button__green(href="#") Click To Play ►
	section.call
		.wrap
			.call__spotify.call-item
				h3.call-item_title Spotify
				p.call-item_text Follow me, stream and add  my songs to your Spotify playlist.
				a(href="#").call-item_link.button Follow On Spotify
			.call__itunes.call-item
				h3.call-item_title Itunes
				p.call-item_text Buy and download my songs from iTunes.
				a(href="#").call-item_link.button.call-item_link__black Follow On Itunes
	footer.footer
		.wrap
			.footer-conclusion
				h3.footer_title Amazing Dude.<br>Amazing Life.
				p.footer_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias itaque odio obcaecati accusantium dignissimos cum nulla facilis cumque, iste illum suscipit quos beatae quas, quia eos aperiam sequi minus quod fuga voluptate dolorum doloremque. Veritatis alias dicta quam vitae eum odio animi labore eius voluptatem nulla autem hic vero nobis modi odit dolorum, provident molestiae quo ipsum laboriosam incidunt reprehenderit corporis, voluptatibus! Veniam at accusamus recusandae suscipit, distinctio ipsa. Animi.
				span.footer_copyright ©2015. All rights reserved.
			.footer-contact
				.footer-contact-address
					h3.footer_title Contact Me
					span.footer_text 1242 Crestview Terrace Artesia Wells, TX 78001
					span.footer_text Phone: 830-676-974<br>Email: holo@sitename.com
				.footer-contact-follow
					h3.footer_title Follow Me On
					a.footer_media(href="#")
						i.demo-icon.icon-facebook Facebook
					a.footer_media(href="#")
						i.demo-icon.icon-twitter Twiiter
					a.footer_media(href="#")
						i.demo-icon.icon-instagram Instagram
					a.footer_media(href="#")
						i.demo-icon.icon-spotify Spotify
			.footer-subscribe
				form.footer-subscribe-form
					h3.footer_title Subscribe
					p.footer_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt accusamus, optio eveniet maiores voluptatum unde aliquid, eos temporibus magni fugiat nisi porro excepturi incidunt laudantium.
					label.footer-subscribe-form_label
						input.footer-subscribe-form_input(type="email" placeholder="ENTER YOUR EMAIL ADDRESS" name="email" required)
				.footer-subscribe-sponsors
					h3.footer_title Sponsor
					.footer-subscribe-sponsors-wrap
						span.footer-subscribe-sponsors_logo Logo
						span.footer-subscribe-sponsors_logo Logo
						span.footer-subscribe-sponsors_logo Logo