<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/style.css")
body
	main.main
		.wrap
			header.main-header
				ul.main-header-list
					li.main-header-list-item.main-header-list-item_logo
						img.main-header_logo_img(src="img/logo.png", alt="/. - logo" width="80px" height="80px")
					li.main-header-list-item.main-header-list-item-menu
						<a id="hamburger-icon" href="#" title="Menu">
							<span class="line line-1"></span>
							<span class="line line-2"></span>
							<span class="line line-3"></span>
							<span class="hamburger-title">Menu</span>
						</a>
				h2.main-header_title Amazing Dude.<br>Amazing Life.
				p.main-header_text Welcome to the personal site of <b>John Doe</b>. A professional skier and musician.
